@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'sans-serif';
}

.footer-gradient {
  /* background: linear-gradient(90deg, #e44fff 0%, #22d3ee 50%, #ff265b 100%); */
  background: linear-gradient(90deg, #e44fff 5%, #22d3ee 45%, #ff265b 95%);
  background-size: cover;
  background-position: center;
}